

<header>
    <h2>Modifier un Participant</h2>
</header>

<form #participantItemForm="ngForm" (ngSubmit)="editParticipant(participantItemForm.value)">

    <ul>


        <li>
            <label for=" nomParticipant ">Nom de Participant</label>
            <input type="text" name="nomParticipant" id="nomParticipant" [(ngModel)]="participant.nomParticipant"
                   required>
        </li>


        <li>
            <label for=" prenomParticipant ">Prenom de Participant</label>
            <input type="text" name="prenomParticipant" id="prenomParticipant"
                   [(ngModel)]="participant.prenomParticipant" required>
        </li>

        <li>
            <label for=" adresseParticipant ">Adresse de Participant</label>
            <input type="text" name="adresseParticipant" id="adresseParticipant"
                   [(ngModel)]="participant.adresseParticipant" required>
        </li>

        <li>
            <label for=" emailParticipant ">E-mail de Participant</label>
            <input type="email" name="emailParticipant" id="emailParticipant" [(ngModel)]="participant.emailParticipant"
                   required>
        </li>

        <li>
            <label for=" societeParticipant ">Societe de Participant</label>
            <input type="text" name="societeParticipant" id="societeParticipant"
                   [(ngModel)]="participant.societeParticipant" required>
        </li>


        <li>
            <label for=" posteParticipant ">Poste de Participant</label>
            <input type="text" name="posteParticipant" id="posteParticipant" [(ngModel)]="participant.posteParticipant"
                   required>
        </li>

    </ul>
    <button type="submit" [disabled]="!participantItemForm.form.valid">Modifier</button>
</form>